body{
	background-color: #f2f2f2; 
}

header{
	background-color: white;
}

.login {
	margin-top: 100px;
	background-color: white;
	padding: 40px;
	box-shadow: 1px 1px 8px #ccc;
}

.pointer {
	cursor: pointer;
}

.game-chat {
	padding: 0;
    position: relative;
    height: 404px;
}

canvas{
	background-color: white;
}